<h1>Listing Snippet</h1>
<%= link_to 'Create Snippet', new_snippet_path %>

<%= form_tag(snippets_path, :method => "get", id: "search-form") do %>
<p>
<%= text_field_tag :search, params[:search], placeholder: "Search Snipppet" %>
<%= submit_tag "Search" %>
</p>
<% end %>

<div id="snippet_listing">
   <% if @snippets.present? %>
       
		<%= page_entries_info @snippets %>
		
		<table>
		  <tr>
			<th>Snippets</th>
			<th colspan="2"></th>
		  </tr>
		 
		  <% @snippets.each do |snippet| %>
			<tr>
			  <td><%= link_to truncate(snippet.text, :ommision => "Read More", :length => 50), snippet_path(snippet) %></td>
			  <td><%= link_to 'Show', snippet_path(snippet) %></td>
			  <td><%= link_to 'Edit', edit_snippet_path(snippet) %></td>
			  <td><%= link_to 'Delete', snippet_path(snippet),
				  method: :delete,
				  data: { confirm: 'Are you sure?' } %></td>
			</tr>
		  <% end %>
		</table>
		
		<%= paginate @snippets %>
		
		
	<% else %>
	   <p>There are no snippets containing the term(s) <%= params[:search] %>.</p>
	<% end %>
</div>
